body{
  margin: 0;
  font-family: 'space-mono';
}

.primary-bg-color{
	background-color: #5651bf;
}

/** FONTS **/

.space-mono{
	font-family: 'space-mono';
	line-height: 4rem;
}

@font-face{
	font-family: 'space-mono';
	src: url("./fonts/space-mono.ttf");
}